@model List<ClothBazar.Entities.Category>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
            </tr>
        }
        
    </tbody>
</table>

